* {
    margin: 0;
}

#navbar {
    position: fixed;

    display: flex;
    justify-content: center;

    width: 100%;

    background: rgb(0, 75, 125);
    border-bottom: 3px solid rgb(0, 75, 125);

    z-index: 1;
}

#navbar ul {
    display: flex;

    margin-right: 2rem;
}

#navbar li {
    list-style: none;
}

#navbar a {
    display: block;

    padding: 1rem;

    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

#navbar a:hover {
    background: rgb(0, 150, 250);
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    
    color: #fff;
    background: linear-gradient(150deg, #333, #000);
}

#welcome-section h1 {
    margin: 0.5rem;

    font-size: 3rem;
}

#welcome-section p {
    margin: 0.5rem;

    font-size: 2rem;
}
